@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca:wght@400&display=swap");

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --light-gray: hsl(0, 0%, 95%);
  font-family: "Lexend Deca", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 100px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}

.container {
  display: flex;
  max-width: 1000px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  border-radius: 10px;
}

.card {
  flex: 1;
  flex-basis: 30%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 280px;
  min-height: 550px;
  gap: 40px;
}

.card img {
  width: 80px;
  height: auto;
}

.card h1 {
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: white;
}

.card p {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  color: var(--transparent-white);
  line-height: 1.5;
}

.card button {
  margin-top: auto;
  align-self: flex-start;
  border: 2px solid white;
  background-color: white;
  color: inherit;
  padding: 13px 30px;
  font-size: 0.9rem;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sedans button {
  color: var(--bright-orange);
}

.suvs button {
  color: var(--dark-cyan);
}

.luxury button {
  color: var(--very-dark-cyan);
}

.card button:hover {
  background-color: transparent;
  color: white;
}

.card button:hover {
  background-color: transparent;
  color: white;
}

.sedans {
  background-color: var(--bright-orange);
}

.suvs {
  background-color: var(--dark-cyan);
}

.luxury {
  background-color: var(--very-dark-cyan);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .card {
    padding: 20px;
  }
}